/* Carousel.css */

.carousel-container {
   width: 100%;
   margin: 0 auto;
   text-align: center;
   padding: 20px 0;
   background-color: #f9f5f3;
 }

 .carousel-wrapper {
   width: 80%;        /* 화면 너비의 80% */
   max-width: 1500px; /* 최대 너비 제한 (필요에 따라 설정) */
   margin: 0 auto;    /* 중앙 정렬 */
 }
 
 .carousel-header h2 {
   font-size: 24px;
   color: #333;
   margin-bottom: 5px;
   font-weight: bold;
 }
 
 .carousel-header p {
   font-size: 14px;
   color: #888;
   margin-bottom: 20px;
 }

 .product-card {
   padding: 10px;
 }
 
 .product-card img {
   width: 100%;
   border-radius: 10px;
 }
 
 .arrow {
   background: none;
   border: none;
   font-size: 24px;
   color: #888;
   cursor: pointer;
   z-index: 1;
 }
 
 .prev {
   position: absolute;
   left: -30px;
   top: 50%;
   transform: translateY(-50%);
 }
 
 .next {
   position: absolute;
   right: -30px;
   top: 50%;
   transform: translateY(-50%);
 }
 
